.DS_Store
node_modules/
*.log
.env
.vscode/

# Eclipse IDE
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.classpath
.factorypath
.buildpath
.target

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
.idea_modules/
